{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section class="hero-registration">
		<div class="hero-degradation">
			<div class="panel">
				<div class="form-wrapper">
					<form method="post" class="form panel__login-form" id="login-form">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<div class="form__row">
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form__input" autocomplete="email" required autofocus>
							<label for="inputEmail" class="form__label">Email</label>
						</div>
						<div class="form__row">
							<input type="password" name="password" id="inputPassword" class="form-control form__input" autocomplete="current-password" required>
							<label for="inputPassword" class="form__label">Password</label>
						</div>
						<div class="form__row">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button class="btn btn-lg btn-primary form__submit" type="submit">
								Me Connecter
							</button>
							<a href='{{  path('app_register') }}' class="form__lien">
								M'inscrire
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
